<ion-buttons slot="start">
    <ion-back-button defaultHref="home"></ion-back-button>
</ion-buttons>

<!-- User NOT logged in -->
<ng-template #guest>
    <h3>Hello, Trucker</h3>
    <p>Login to get started...</p>
    
    <ion-button (click)="auth.googleSignin()" expand="block" shape="round">
        Login with Google
    </ion-button>
    <ion-button (click)="auth.facebookSignin()" expand="block" shape="round">
        Login with Facebook
    </ion-button>


</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
    <div *ngIf="auth.user$ | async as user">
        <h3>Howdy, {{ user.displayName }}</h3>
        <img  [src]="user.photoURL">
        <ion-button (click)="auth.signOut()" expand="block" shape="round">Logout</ion-button>
    </div>
</ng-template>


<ion-content>
<div *ngIf="auth.user$ | async; then authenticated else guest">
        <!-- template will replace this div -->
</div>

</ion-content>